.alert {
    text-transform: capitalize;
    font-size: 12px;
    border: 1px solid rgb(194, 194, 194);
    padding: 3px 0;
}

.alert-success {
    background-color: rgb(146, 219, 241);
}

.alert-danger {
    background-color: rgb(240, 154, 154);
}