.grocery-list {
    margin-top: 20px;
}

.grocery-item {
    display: flex;
}

.grocery-item .title {
    width: 300px;
    text-align: left;
    margin-top: 0;
}

.edit-btn, .delete-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.edit-btn {
    color: green;
}

.delete-btn {
    color: red;
}